/* 
    Created on : 8/03/2019, 07:17:01 AM
    Author     : CARLOSHG
*/
html{
    height: 100%;
}
main{
    display: flex;
}
header{
    align-content: flex-start;
}
body{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100% !important;
    position: absolute;
}
.fill{
    height: calc(100% - 70vh);
}
.dialogsr{
    overflow: none;
    text-align: center;
    align-content: center;
    width: 70%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    display: block;
    opacity: 0.8;
    border-radius: 10px;
}
footer{
    align-content: flex-end;
}
h3{
    color: #FE5533;
}
body, .mdl-textfield__input, .mdl-textfield__label, h4, h5, p{
    color: #0B243B;
    font-weight: 700;
}
.default{
    background-image: url(../images/bdgame.jpg);
}
.Art{
    background-image: url(../images/art.jpg);
}
.Ast{
    background-image: url(../images/astro.jpg);
}
.Bio{
    background-image: url(../images/bio.png);
}
.Ent{
    background-image: url(../images/ent.jpg);
}
.Esp{
    background-image: url(../images/esp.jpeg);
}
.Fis{
    background-image: url(../images/fis.jpg);
}
.Geo{
    background-image: url(../images/geo.jpg);
}
.HMe{
    background-image: url(../images/hmex.jpg);
}
.HUn{
    background-image: url(../images/huni.jpg);
}
.Ing{
    background-image: url(../images/ing.jpg);
}
.Mat{
    background-image: url(../images/mat.jpg);
}
.GKN{
    background-image: url(../images/ran.jpg);
}
.Tec{
    background-image: url(../images/tec.jpg);
}
.Qui{
    background-image: url(../images/qui.jpg);
}